.we_can_do{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto 1fr;
    grid-template-areas: 'idea' 'work' 'prod' ;
    background-color: #f6f6f6;;
    width: 100%;
    height: 380px;
    justify-items: center;
    align-items: center;
}
.we_can_do div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.we_can_do img{
  width: 50%;
  height:25%;
}
.we_can_do h5{
    font-size: 30px;
    font-weight: bold;
}
.we_can_do .text{
    position: absolute;
    top :55%;
}
.we_can_do pre{
    position: relative;
    left:-40px;
    font-size: 20px;
}
